spring:
  logging:
    level:
      org.springframework.web: TRACE
      org.springframework.ws: TRACE
      org.springframework.ws.server.MessageTracing.received: INFO
      org.springframework.ws.server.MessageTracing.sent: INFO
      uk.gov.justice.digital.hmpps.crimeportalgateway.application: TRACE
  mvc:
    log-request-details: true

soap:
  xsd-file-path: src/main/resources/xsd/cp/external/ExternalDocumentRequest.xsd

# Localstack settings
aws:
  sqs-endpoint-url: "http://localhost:4566"
